:root {
	--menu-height: 50px;

	--homeSocialButtonSize: 50px;
	--contactSocialButtonSize: 64px;
	--projectLinkSize: 30px;

	--normal-text: white;
	--emphasized-text: red;
	--dark-text: black;

	--purple: #27283A;
	--light-purple: #35374C;
	/* --gold: #FFCC33; */
	--gold: #FFDD55;
	--off-gold: #EABC2A;
	--gray: #B0B0BA;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: Montserrat, sans-serif;
	color: white;
	background-color: var(--purple);
}

a {
	text-decoration: none;
}

.gold {
	color: var(--gold);
}
.inverted {
	filter: invert(100%);
}



/* -----------------------------   Both   ----------------------------- */


/* -----------------------------   Mobile   ----------------------------- */

@media(max-width: 900px) {

	body {
		font-family: Montserrat, sans-serif;
		color: white;
		background-color: var(--purple);

		display:flex;
		flex-direction: column;
	}

	#menu {
		display: none;
	}

	.page {
		display:flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		margin: 60px auto;
	}
	.page-content {
		position: relative;
		display: flex;

		flex-direction: column;

		align-items:center;
		justify-content:center;

		margin: auto;


		/* background-color: rgba(255, 255, 255, .1); */
	}



	.project-image {
		width: 49vw;
		height: min-content;

		align-self: center;

		cursor: pointer;
	}
	.project-image>img{
		width: 100%;
		height: auto;

		-webkit-box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);
		-moz-box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);
		box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);

		border-radius: 5px;
	}

}


/* -----------------------------   Desktop   ----------------------------- */

@media(min-width: 900px) {

	#menu {
		position: absolute;
		top: 0;
		right: 20px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;

		width: min-content;
		height: var(--menu-height);

		margin: 0;
		padding: 15px 20px;

		background-color: transparent;
		color: var(--gray);
		font-size: 15pt;
		font-weight: 600;

		z-index: 10;
	}

	.menu-item {
		margin: 4px 10px;
		padding: 2px 2px;
		cursor: pointer;
		transition-duration: 120ms;
	}
	.menu-item:hover {
		padding-bottom: 8px;
	}
	.menu-item.active {
		color: white;
	}
	#menu-underline {
		position: absolute;
		left: 15px;
		bottom: 17px;

		opacity: 0;

		height: 2px;
		width: 0;

		transition-duration: 300ms;

		background-color: white;
	}

	.page {
		position: absolute;
		display: none;

		top: 0;
		left: 0;

		min-height: 100vh;
		height: max-content;
		width:100vw;

		align-items:center;
		justify-content:center;

		opacity: 0;
		transition-duration: 200ms;
		background-color: var(--purple);
		/* background-color:black; */
	}
	.active-page {
		display: flex !important;
	}
	.page-content {
		position: relative;
		display: flex;

		flex-direction: column;

		align-items:center;
		justify-content:center;

		margin: auto;

		padding: calc(20px + var(--menu-height)) 120px;

		/* background-color: rgba(255, 255, 255, .1); */
	}

	.page-title-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		/* width: 850px; */
		width: calc(100% - 100px);

		margin: 40px auto 0 auto;
		padding: 0 50px;
	}
	.page-title-text {
		font-size: 48pt;
		font-weight: 600;

		margin: auto;
		padding: 0 50px;

		text-align: center;

		width: max-content;

		background-color: var(--purple);
		color: var(--gold);
		z-index: 2;
	}
	.page-title-line {
		display: none;

		height: 4px;
		width: 100%;
		transform: translate(0, -35px);

		border-radius: 5px;

		background-color: var(--gray);
		z-index: 1;
	}

	.social-link {
		display: inline-block;
		padding: 12px;
		transition-duration: 150ms;
	}
	.social-link>img {
		width: 100%;
		height: 100%;
	}



	#home {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		overflow-y: hidden;
	}
	#home-text-container {
		padding: 25px;
	}
	.home-text {
		display: block;
		color: white;
		font-weight: bold;
		text-align: center;
		margin: 15px auto;

		transition-timing-function: ease;
	}
	#home-title {
		font-size: 48pt;
	}
	#home-title>#home-name {
		color: var(--gold);
	}
	#home-subtitle {
		font-size: 36pt;
		font-weight: 500;
		color: var(--gray);
	}
	#explore-work-button {
		padding: 15px 25px;
		cursor: pointer;
		width: max-content;
		margin-top: 33px;

		border: 3px solid white;
		border-radius: 8px;
		color: var(--gold);
		font-size: 19pt;
		font-weight: 600;

		transition-duration: 300ms;
	}
	#explore-work-button:hover {
		border: 3px solid var(--gold);
		background-color: var(--gold);
		color: var(--purple);
	}
	#home-social-links {
		position: absolute;
		bottom: 10px;
		left: 0;
		margin: 20px 20px;
		display: flex;
		flex-direction: column;
	}
	#home-social-links>.social-link {
		width: var(--homeSocialButtonSize);
		height: var(--homeSocialButtonSize);
		margin: 5px 0
	}
	#home-social-links>.social-link:hover {
		transform: scale(1.1) translate(5px, 0) !important;
	}

	#portfolio-description {
		width: 90%;
		margin-bottom: 20px;

		text-align: center;
		font-size: 20pt;
		font-weight: 500;
		color: var(--gray);
	}

	#projects {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;

		width: 95%;
	}
	.project-divider {
		display: none;

		background-color: var(--gray);
		height: 2px;
		width: 80%;
		border-radius: 5px;

		margin: 90px 0;

		align-self: center;
	}
	.project {
		display: flex;
		justify-content: space-between;
		transition-duration: 300ms;

		padding: 40px;

		background-color: var(--light-purple);
		filter: drop-shadow(1px 5px 8px rgba(0, 0, 0, .25));

		border-radius: 7px;

		height: min-content;
		margin: 25px auto;
	}
	.project:hover {
		transform: scale(1.1);
	}
	.project-left {
		flex-direction: row;
	}
	.project-right {
		flex-direction: row-reverse;
		text-align: right;
	}
	.project-image {
		width: 49%;
		height: min-content;

		align-self: center;

		cursor: pointer;
	}
	.project-image>img{
		width: 100%;
		height: auto;

		-webkit-box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);
		-moz-box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);
		box-shadow: 1px 6px 15px 0px rgba(20, 20, 30, 1);

		border-radius: 5px;
	}
	.project-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 47%;
	}
	.project-left>.project-info{
		align-items: flex-start;
	}
	.project-right>.project-info{
		align-items: flex-end;
	}
	.project-title {
		font-size: 22pt;
		font-weight: 600;
		color: var(--gold);
	}
	.project-subtitle {
		font-size: 13pt;
		font-weight: 500;
		margin-top: 2px;
		margin-bottom: 12px;
		color: white;
	}
	.project-description {
		font-weight: 500;
		color: var(--gray);
		margin-bottom: 15px;
	}
	.project-links {
		display: flex;
		margin-top: auto;
		font-weight: 500;
	}
	.project-link {
		width: var(--projectLinkSize);
		height: var(--projectLinkSize);

		opacity: .70;

		cursor: pointer;

		transition-duration: 150ms;
	}
	.project-link:hover {
		opacity: 1;
		transform: translate(0, -5px);
	}
	.project-left>.project-info>.project-links>.project-link {
		margin-right: 15px;
	}
	.project-right>.project-info>.project-links>.project-link {
		margin-left: 15px;
	}


	#about-content {
		width: 1000px;
	}
	#about-subtitle {
		margin-top: 5px;
		margin-bottom: 50px;

		font-size: 25pt;
		font-weight: 500;
		color: var(--gray);
	}
	#about-subtitle>.about-subtitle-word {
		font-size: 20pt;
		margin: auto 15px;
	}
	#about-text {
		width: 65%;

		font-size: 16pt;
		font-weight: 500;
		color: white;
	}
	.about-text-section {
		margin-bottom: 25px;
	}


	#contact-content {
		width: 900px;
	}
	#contact-text {
		display: block;
		margin-top: 50px;

		font-size: 20pt;
		font-weight: 500;
		color: var(--gray);
	}
	#contact-email {
		margin-top: 20px;

		font-weight: 600;
		font-size: 48pt;
		color: var(--gold);
	}
	#contact-social-links {
		display: flex;
		margin-top: 45px;
	}
	#contact-social-links>.social-link {
		width: var(--contactSocialButtonSize);
		height: var(--contactSocialButtonSize);
		margin: 0 45px;
	}
	#contact-social-links>.social-link:hover {
		transform: scale(1.125) translate(0, -10px) !important;
	}
}

@media(min-width: 1300px) {

	.page-title-line {
		display: block;
	}

	#about-content {
		width: 1200px;
	}

}

/* @media(min-width: 1200px) { */


/* 	#portfolio-title { */
/* 		width: 950px; */
/* 	} */
/* 	#projects { */
/* 		width: 950px; */
/* 	} */
/* } */
