
body{
	background-color: var(--color1);
}



/* -----------------------------   Variables   ----------------------------- */

:root {
	--white: white;
	--fontSize: 14pt;
	--titleSize: 24pt;
	--subtitleSize: 20pt;
	--bodySize: 14pt;
	--socialButtonSize: 24px;
}
@media(min-width:360px){
	:root {
		--titleSize: 27pt;
		--subtitleSize: 24pt;
		--bodySize: 16pt;
		--socialButtonSize: 26px;
	}
}
@media(min-width:420px){
	:root {
		--titleSize: 32pt;
		--subtitleSize: 28pt;
		--bodySize: 20pt;
		--socialButtonSize: 28px;
	}
}
@media(min-width:1080px){
	:root {
		--fontSize: 14pt;
		--tabSize: 90px;
		--tabSizeHover: 110px;
		--bodySpacing:10px;
		--titleSize: 2.4em;
		--subtitleSize: 2em;
		--tabTextSize: 1.6em;
		--bodySize: 1.1em;
		--socialButtonSize: 32px;
		--contentSpacingLeft:50px;
	}
}
@media(min-width:1080px) and (min-height:800px){
	:root {
		--fontSize: 16pt;
		--tabSize: 90px;
		--tabSizeHover: 110px;
		--bodySpacing:30px;
		--titleSize: 2.8em;
		--subtitleSize: 2.2em;
		--tabTextSize: 1.6em;
		--bodySize: 1.1em;
		--socialButtonSize: 32px;
		--contentSpacingLeft:50px;
	}
}
@media(min-width:1280px) and (min-height:850px){
	:root {
		--tabSize: 110px;
		--tabSizeHover: 130px;
		--bodySpacing:40px;
		--titleSize: 3.5em;
		--subtitleSize: 3em;
		--tabTextSize: 1.7em;
		--bodySize: 1.2em;
		--socialButtonSize: 36px;
		--contentSpacingLeft:70px;
	}
}
@media(min-width:1600px)  and (min-height:900px){
	:root {
		--tabSize: 120px;
		--tabSizeHover: 140px;
		--bodySpacing:80px;
		--titleSize: 3.6em;
		--subtitleSize: 3.1em;
		--tabTextSize: 1.8em;
		--bodySize: 1.3em;
		--socialButtonSize: 40px;
		--contentSpacingLeft:90px;
	}
}



/* -----------------------------   Font Styles   ----------------------------- */

body{
	font-size:var(--fontSize);
    color:var(--defaultTextColor);
	font-weight:bold;
}

a {
	color:var(--defaultTextColor);
}
.title{
    color:var(--defaultTextColor);
    font-weight: 600;
	font-size: var(--titleSize);
}
.subtitle{
    color:var(--defaultTextColor);
    font-weight: 600;
    font-size: var(--subtitleSize);
}
.body{
	color:var(--defaultTextColor);
    font-weight: 500;
    font-size: var(--bodySize);
}
.subheader{
	margin-bottom:10px;
	font-size:1.2em;
	font-weight:600;
	display:inline-block;
	line-height: 0;
}
.tab{
	color:var(--defaultTextColor);
    font-weight: 500;
    font-size: var(--tabTextSize);
}
.link{
	color: var(--white);
	text-decoration: underline;
	font-weight: 600;
}


/* -----------------------------   Both   ----------------------------- */

#page{
	position: relative;
	width:100%;
	display:flex;
	justify-content: center;
}

.section{
	position: relative;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: auto;
	height:auto;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.tab{
	display: none;
}
.content{
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
	"title"
	"body";
	transition-duration: .5s;
}
	.body{
		grid-area: body;
	}
		.bodyText{
			display: block;
		}
		.actionButton{
			width:max-content;
			border:2px solid white;
			border-radius: 8px;
			cursor: pointer;
			transition-duration: .3s;
		}


#welcome .content{
	grid-template-rows: max-content;
	grid-template-areas:"title";
	align-content: center;
}
	#socialLinks{
		position: absolute;
		height: var(--socialButtonSize);
	}
		.socialLink{
			display: inline-block;
			width: var(--socialButtonSize);
			height: var(--socialButtonSize);
			margin-right: calc(var(--socialButtonSize) / 2.5);
			transition-duration: .6s;
		}
		.socialLink *{
			width:100%;
			height:100%;
		}
		.socialLink:hover{
			transform: rotate(360deg);
		}
	#instagram{
		filter: invert(100%);
	}

#welcome{
	background-color: var(--color1);
}	
#about{
	background-color: var(--color2);
}
#projects{
	background-color: var(--color3);
}
#games{
	background-color: var(--color4);
}
#contact{
	background-color: var(--color5);
}


/* -----------------------------   Mobile   ----------------------------- */

@media(max-width:1080px){
	.cover{
		display:none;
	}

	#page{
		flex-direction: column;
	}

	.section{
		grid-template-areas: "body";
	}
		.content{
			width:calc(100vw - 40px);
			padding:80px 20px;
			text-align: center;
		}
			.body{
				padding-top:30px;
			}
				.bodyText{
					margin-bottom: 30px;
				}
				.actionButton{
					position: relative;
					display:block;
					margin:20px auto;
					padding:15px 30px;
					cursor: pointer;
				}

	#welcome .content{
		padding:35vh 20px;
	}
		#socialLinks{
			top:0;
			right:0;
			padding:20px 12px;
		}

	.tiles{
		display: none !important;
	}

	#fireworks{
		display:none;
	}

}



/* -----------------------------   Desktop   ----------------------------- */

@media(min-width: 1080px){
	html,body{
		overflow: hidden;
	}

	.cover{
		display:block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color:var(--color1);
		opacity: 1;
		transition-duration: .25s;
		pointer-events: none;
		z-index: 5;
	}

	#page{
		height:100%;
	}
	.section{
		grid-template-columns: auto;
		grid-template-areas: "tab";
		flex-basis:var(--tabSize);
		width:var(--tabSize);
		height:100vh;
	}
	.section:hover:not(.active){
		flex-basis: var(--tabSizeHover);
		cursor: pointer;
	}
		.tab{
			display: block;
			grid-area: tab;
			writing-mode: tb-rl;
			width:auto;
		}
		.content{
			display: none;
			opacity: 0;
			width:calc(100vw - (4 * var(--tabSize)) - var(--tabSizeHover));
			padding:80px 0 80px var(--contentSpacingLeft);
			height: 80%;
			text-align: left;
		}
			.body{
				grid-area: body;
				padding:var(--bodySpacing) 0;
			}
				.bodyText{
					display: block;
				}
				.actionButton{
					display:inline-block;
					margin:40px 0;
					margin-right:40px;
					padding:15px 30px;
				}
				.actionButton:hover{
					background-color:white;
					color:var(--darkText);
				}
		.active{
			flex:1;
			display: block;
		}
			.active .tab{
				display: none;
			}
			.active .content{
				display: grid;
				grid-template-rows: auto 1fr;
				grid-template-areas:
				"title"
				"body";
			}

	#socialLinks{
		bottom:0;
		left:0;
		padding:0 0 18px var(--contentSpacingLeft);
	}

	.tiles{
		margin-top:30px;
	}

	#fireworks{
		position: relative;
		display: block;
		margin-top:30px;
		height:200px;
		width:400px;
		border:2px solid white;
		border-radius: 6px;
		overflow: hidden;
		cursor: pointer;
	}
		#fireworks canvas{
			filter: brightness(70%);
		}
		#fireworks div{
			display:block;
			position: absolute;
			left:0;
			right: 0;
			text-align: center;
			top:50%;
			transform: translateY(-50%);
			transition-duration: .2s;
			z-index: 100;
			pointer-events: none;
		}
}
