
/* -----------------------------   Variables   ----------------------------- */

:root {
	--white: white;
    --darkText: rgb(120, 120, 140);
    --backgroundColor: rgb(15,15,25);
	--fontSize: 14pt;
	--titleSize: 30pt;
	--subtitleSize: 18pt;
}
@media(min-width:360px){
	:root {
		--titleSize: 32pt;
		--subtitleSize: 20pt;
	}
}
@media(min-width:420px){
	:root {
		--titleSize: 34pt;
		--subtitleSize: 22pt;
	}
}
@media(min-width:1080px){
	:root {
		--fontSize: 14pt;
		--titleSize: 2.4em;
		--subtitleSize: 2em;
	}
}
@media(min-width:1080px) and (min-height:800px){
	:root {
		--fontSize: 16pt;
		--titleSize: 2.8em;
		--subtitleSize: 2.2em;
	}
}
@media(min-width:1280px) and (min-height:850px){
	:root {
		--titleSize: 3.5em;
		--subtitleSize: 3em;
	}
}
@media(min-width:1600px)  and (min-height:900px){
	:root {
		--titleSize: 3.6em;
		--subtitleSize: 3.1em;
	}
}



/* -----------------------------   Font Styles   ----------------------------- */

body{
	font-size:var(--fontSize);
    color:var(--defaultTextColor);
	font-weight:bold;
}

a {
	color:var(--defaultTextColor);
}
em{
	margin-top:5px;
	line-height: 2em;
	font-size:1.2em;
	font-weight:600;
	display:block;
}
h1{
    color:var(--defaultTextColor);
    font-weight: 600;
	font-size: var(--titleSize);
}
h2{
    color:var(--defaultTextColor);
    font-weight: 600;
    font-size: var(--subtitleSize);
}
p{
	color:var(--defaultTextColor);
    font-weight: 500;
    font-size: var(--bodySize);
}
.link{
	color: var(--white);
	text-decoration: underline;
	font-weight: 600;
}



/* -----------------------------   Both   ----------------------------- */

body{
    background-color: var(--backgroundColor);
    display:grid;
    text-align: center;
    align-content: center;
    justify-content: center;
}


#welcome{
    grid-area: welcome;
}
#insider{
    grid-area: insider;
}
#cadenpopps{
    grid-area: cadenpopps;
}
#games{
    grid-area: games;
}
#js{
    grid-area: js;
}
#color{
    grid-area: color;
}
#timer{
    grid-area: timer;
}



/* -----------------------------   Mobile   ----------------------------- */

@media(max-width:1080px){

    body{
        grid-template: 
        "welcome"
        "cadenpopps"
        "games"
        "js"
        "color"
        "timer";
    }

	#welcome{
        padding:160px 10px;
    }

    .projImg{
        display:block;
        width:96%;
        background-color: white;
        background-image: url("/img/projects/rlinsider.png");
        background-size: cover;
    }
    .projImg h2{
        display: none;
    }

}



/* -----------------------------   Desktop   ----------------------------- */

@media(min-width: 1080px){
	html,body{
		overflow-x: hidden;
	}
}
