a {
	text-decoration: none;
}

body {
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: white;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;
}

div {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

img {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#infopanel {
	position: absolute;
	display: block;
	left: 1vw;
	top: 1vw;
	width: 20vw;
	height: 10.5vw;
	background-color: black;
	border-radius: 5px;
}

.info {
	position: relative;
	display: block;
	height: 1.5vw;
	margin: .5vw;
	font-size: 1.2vw;
	text-align: left;
	color: white;
}

.button {
	position: absolute;
	display: block;
	width: 9.5vw;
	background-color: black;
	color: white;
	font-size: 2vw;
	border-radius: 5px;
}

#resetimg {
	top: 12vw;
	left: 1vw;
}

#saveimg {
	top: 12vw;
	left: 11.5vw;
}

#uploadform {
	position: absolute;
	display: block;
	background-color: blue;
	top: 20vh;
	left: 30vw;
	width: 40vw;
	height: 60vh;
}